<!--The content below is only a placeholder and can be replaced.-->
<div class="body_outer">
    <div class="menu_section">
        <div ngbDropdown class="d-inline-block">
            <a href="#" id="dropdownBasic1" ngbDropdownToggle>
                <img src="../assets/images/icn_menu.svg">
            </a>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <a href="#" class="cross_icon">
                    <img src="../assets/images/cross.svg">
                </a>
                <ul>
                    <li><a href="#/login">Admin Login</a></li>
                    <li><a href="#/login">User Login</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="logo_section">
        <a href="#">
            <img src="../assets/images/logo.png" alt="Logo"/>
        </a>
    </div>

    <nav class="nav_section">
        <ul>
            <li><a href="#">Help</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </nav>
</div> 