<!--== MAIN CONTRAINER ==-->
<div class="container-fluid sb1">
    <div class="row">
        <!--== LOGO ==-->
        <div class="col-md-3 col-sm-4 col-xs-6 sb1-1 header-logo">
            <a routerLink="/" class="logo-admin">
                <img class="slogo" src="assets/images/symhiosislogo.png" alt="Symbiosis Health" />
            </a>
            
            <!-- <a href="#" class="btn-close-menu"><i class="fa fa-times" aria-hidden="true"></i></a>
            <a href="#" class="atab-menu"><i class="fa fa-bars tab-menu" aria-hidden="true"></i></a> -->
        </div>

        <!--== MY ACCCOUNT ==-->
        <div class="col-md-6 col-sm-3 col-xs-6 pull-right left-gen">
            <!-- Dropdown Trigger -->
            <a materialize="dropdown" class='waves-effect dropdown-button top-user-pro text-capitalize' data-activates='top-menu' style="padding: 15px 0px">
                <img src="assets/images/avatar_male.png" alt="Avatar">
                {{name}} <i class="fa fa-angle-down" aria-hidden="true"></i>
            </a>

            <!-- Dropdown Structure -->
            <ul id='top-menu' class='dropdown-content top-menu-sty'>
                <li><a routerLink="/coaches/profile" class="waves-effect"><i class="fa fa-cogs" aria-hidden="true"></i>Profile Setting</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a routerLink="/coaches/change-password" class="ho-dr-con-last waves-effect"><i class="fa fa-lock" aria-hidden="true"></i> Change password</a>
                </li>
                <li>
                    <a routerLink="/login" class="ho-dr-con-last waves-effect"><i class="fa fa-sign-in" aria-hidden="true"></i> Logout</a>
                </li>
            </ul>
        </div>

        <!--== NOTIFICATION ==-->
        <div class="col-md-1 tab-hide pull-right right-gen">
            <div class="top-not-cen custom-top-cen">
                
            </div>
        </div>
        <div class="col-md-1 tab-hide pull-right right-gen">
            <div class="top-not-cen custom-top-cen">
                
            </div>
        </div>
    </div>
</div>
