<div class="sb2-1">
    <!--== LEFT MENU ==-->
    <div class="sb2-13">
        <ul materialize="collapsible" class="collapsible left-nav-custom" data-collapsible="accordion" >
            <li>
                <a routerLink="/dashboard" class="menu-active">
                    <i class="fa fa-home" aria-hidden="true"></i> Dashboard
                </a>
            </li>


            <li *ngFor="let item of staticLinks">
                <a routerLinkActive="" [routerLink]="item.link" [ngClass]="{'collapsible-header' : item.childs }">
                <i class="fa" [ngClass]="item.icon" aria-hidden="true"></i>
                {{ item.name }}
                </a>
                <div class="collapsible-body left-sub-menu" *ngIf="item.childs">
                    <ul>
                        <li *ngFor="let subItem of item.childs">
                            <a routerLinkActive="menu-active" [routerLink]="subItem.link">
                            <i class="fa" [ngClass]="subItem.icon" aria-hidden="true"></i>
                            {{ subItem.name }}</a>
                        </li>
                    </ul>
                </div>
            </li>

        </ul>
    </div>
</div>
