<!--== DASHBOARD INFO ==-->
<div class="sb2-2-1 sb2-2-1-1">
    <div class="row"> 
        <div class="col-md-12"><div [ngBusy]="busy"></div></div>
        <!-- <div class="col-md-9"><h2>Dashboard</h2></div> -->
    </div>

    <div class="db-2">
        <ul>
            <li [hidden]="permission">
                <div class="dash-book dash-b-2" >
                    <h4>55</h4>
                    <h5>Active Users</h5>
                </div>
            </li>
             <li [hidden]="permission">
                <div class="dash-book dash-b-2">
                    <h4>22</h4>
                    <h5>Unsuscribe Users</h5>
                </div>
            </li>
            <li [hidden]="permission == false">
                <div class="dash-book dash-b-2" >
                    <h4>55</h4>
                    <h5>Assigned Users</h5>
                </div>
            </li>
            <li [hidden]="permission == false">
                <div class="dash-book dash-b-2" >
                    <h4>5</h4>
                    <h5>Unassigned Users</h5>
                </div>
            </li>
            <li [hidden]="permission == false">
                <div class="dash-book dash-b-2" >
                    <h4>15</h4>
                    <h5>Unsubscribed Users</h5>
                </div>
            </li>
        </ul>
    </div>
</div>
<!--== DASHBOARD INFO ==-->

<div class="sb2-2-1 sb2-2-1-1">
    <div class="row">
        <!--== Country Campaigns ==-->
        <div class="col-md-6 " [hidden]="permission">
            <div class="box-inn-sp">
                <div class="inn-title">
                    <h4>Top 10 ........</h4>
                </div>
                <div class="tab-inn">
                    <div class="table-responsive table-desi">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th width="80%">Name</th>
                                    <th>Users</th>
                                </tr>
                            </thead>
                            <tbody >
                                <tr>
                                    <td>John Smith</td>
                                    <td>320</td>
                                </tr>
                                <tr>
                                    <td>Tim Taylor</td>
                                    <td>410</td>
                                </tr>
                                <tr>
                                    <td>Johsaf Mike</td>
                                    <td>150</td>
                                </tr>
                                <tr>
                                    <td>Mix Swift</td>
                                    <td>90</td>
                                </tr>
                                <tr>
                                    <td>Tom</td>
                                    <td>50</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-6 " [hidden]="permission == false">
            <div class="box-inn-sp">
                <div class="inn-title">
                    <h4>Today's Session</h4>
                </div>
                <div class="tab-inn">
                    <div class="table-responsive table-desi">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th width="20%" class="center">Plan</th>
                                    <th width="20%" class="center">Time</th>
                                </tr>
                            </thead>
                            <tbody >
                                <tr>
                                    <td>John Smith</td>
                                    <td class="center">Premium</td>
                                    <td class="center">9:00AM</td>
                                </tr>
                                <tr>
                                    <td>Tim Taylor</td>
                                    <td class="center">Free</td>
                                    <td class="center">10:00AM</td>
                                </tr>
                                <tr>
                                    <td>Johsaf Mike</td>
                                    <td class="center">Standard</td>
                                    <td class="center">1:00PM</td>
                                </tr>
                                <tr>
                                    <td>Mix Swift</td>
                                    <td class="center">Premium</td>
                                    <td class="center">7:00PM</td>
                                </tr>
                                <tr>
                                    <td>Tom</td>
                                    <td class="center">Paid</td>
                                    <td class="center">8:30PM</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>